In [1]:
# 1.eligible to vote based on their age

In [3]:
age=int(input("enter the age:"))
if(age>=18):
    print("eligible to vote")
else:
    print("not eligible to vote")

enter the age: 55

eligible to vote

In [4]:
# 2.find the largest value

In [5]:
def find_largest(numbers):
    largest = numbers[0]
    for num in numbers:
        if num > largest:
            largest = num
    return largest

# List of numbers
numbers = [12, 45, 78, 34, 89, 23, 56]

#  print the result
print("The largest number is:", find_largest(numbers))

The largest number is: 89

In [6]:
# 3.Bonus is 10% if salary exeeds $50,000 else zero

In [11]:
salary =float(input("enter the salary:"))
if(salary>4312662.50):
    print("A company provide 10% bonus:",salary/10)
else:
    print("not bonus")

enter the salary: 4455654

A company provide 10% bonus: 445565.4

In [12]:
# 4.Check if a number even or odd

In [13]:
num = int(input("Enter the number:"))
if(num%2==0):
    print("The number is even.")
else:
    print("The number is odd.")

Enter the number: 56

The number is even.

In [14]:
# 5.Reverse the input text characters

In [18]:
text = input("Enter the text: ")
reversed_text = text[::-1] 
print(reversed_text)

Enter the text:  DineshKannan

nannaKhseniD

In [19]:
# 6.if score >=40, student passes; otherwise, student fails.

In [20]:
score = int(input("Enter the student score:"))
if(score>=40):
    print("student has passed.")
else:
    print("student has failed.")

Enter the student score: 45

student has passed.

In [21]:
# 7.A retail store offers a 20% discount if a customer total order exeeds $100

In [23]:
order=float(input("Enter the customer's total order:"))
if(order>8625.33):
    print("apply 20% discount:",order/20)
else:
    print("charge full order amount")

Enter the customer's total order: 8000

charge full order amount

In [24]:
# 8.if withdrawal<=balance,process it and update balance;else show insufficient funds message

In [25]:
balance=float(input("Enter current balance:"))
withdrawal=float(input("Enter withdrawal amount:"))
if(withdrawal<=balance):
    print("withdrawal successful remaining balance:",balance-withdrawal)
else:
    print("insufficient funts withdrawal denied.")

Enter current balance: 5000
Enter withdrawal amount: 6666

insufficient funts withdrawal denied.

In [26]:
# 9.Leap year checker logic

In [30]:
year = int(input("Enter the year:"))
if(year%4==0) and (year%100!=0 or year%400 == 0):
    print(year,"is a leap year.")
else:
    print(year,"is not a leap year.")

Enter the year: 543

543 is not a leap year.

In [31]:
# 10.Even number filter logic

In [35]:
for num in range(1,12):
    if(num%2==0):
        print("even number:",num)

even number: 2
even number: 4
even number: 6
even number: 8
even number: 10